

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  font-size: 12px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 120px;
}

.footer-head {
  margin-top: 10px;
  border-top: 4px solid #b9b9b9;
  height: 10px;
}

.main .row {
  margin: 0px;
}

/* Headlines */
h1, h2, h3, h4 {
  font-family: 'Oranienbaum', serif;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.container {
  max-width: none !important;
  width: 940px;
}

/* Logo header */

.logo-container {
  margin-top: 40px;
}

/* Navbar freizeitbooking main */

.navbar-fb-main {
  background-color: #428bca;
  color: #ffffff;
}

.navbar-fb-main .navbar-header > a {
  margin: 2px;
  padding: 3px 15px 3px 15px;
  color: #ffffff;
}

.navbar-fb-main .navbar-nav > li > a {
  margin: 3px;
  padding: 3px 15px 3px 15px;
  color: #ffffff;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.lead {
  font-size: 16px;
}

.liste-zeile {
  border-top: 1px solid #b9b9b9;
  margin-bottom: 15px;
  margin-top: 5px;
}

.info-text {
    border-top: 1px solid #b9b9b9;
}

.action-detail {
  margin-bottom: 15px;
}

/* Schriftart */

.font-oranienbaum {
  font-family: 'Oranienbaum', serif;
}

/* Sidebar */
.bs-sidenav {
  text-shadow: 0 1px 0 #fff;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
}

.bs-sidenav > li > a {
  padding: 3px 6px;
}

.bs-sidenav-head {
  border-bottom: 2px solid #b9b9b9;
}

.sidenav {
  padding-left: 0px;
}
